@{
    ViewData["Title"] = "Books";
}

<div class="container-fluid ">
    <partial name="_NavbarPartial" />
</div>

<div class="container">
    <div class="home-intro">
        <h2 class="text-light">
            A variety of books to enhance in your learning of coding.
        </h2>
    </div>
</div>