@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="container">
        <div class="bg-circle2"></div>
        <div class="bg-circle3"></div>
        <div class="home-intro">
            <h2 class="text-light">
                Coding is the process of creating instructions for computers using programming languages.
            </h2>
        </div>

        <div class="programming-categories">
            <a href="#">All</a>
            <a href="#">High-Level</a>
            <a href="#">Low-Level</a>
        </div>

        <div class="programming-languages">
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/CSharp.png" />
                </div>
                <h2>C#</h2>
                <a href="#">High-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/html.png" />
                </div>
                <h2>HTML</h2>
                <a href="#">Low-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/Python.png" />
                </div>
                <h2>Python</h2>
                <a href="#">High-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/Java.png" />
                </div>
                <h2>Java</h2>
                <a href="#">High-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/CPlusPlus.png" />
                </div>
                <h2>C++</h2>
                <a href="#">Low-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/JS.png" />
                </div>
                <h2>JavaScript</h2>
                <a href="#">High-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/react.png" />
                </div>
                <h2>React</h2>
                <a href="#">High-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/angular.png" />
                </div>
                <h2>Angular</h2>
                <a href="#">High-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/php.png" />
                </div>
                <h2>PHP</h2>
                <a href="#">High-Level</a>
            </div>
            <div class="programming-language-card">
                <div class="programming-language-card-top">
                    <img src="~/images/Swift.png" />
                </div>
                <h2>Swift</h2>
                <a href="#">High-Level</a>
            </div>
        </div>
    </div>
</div>