@model BooksViewModel

@{
    ViewData["Title"] = "Books";
}

<div class="container-fluid bg-index">
    <div class="bg-tans">
        <partial name="_NavbarPartial">
            <div class="container">
                <div class="home-intro">
                    <h2 class="text-light">
                        A VARIETY OF BOOKS TO ENHANCE IN YOUR LEARNING OF CODING.
                    </h2>
                </div>
            </div>
    </div>
</div>

<div class="container">
    <div class="ml-3">
        <form>
            <input type="text" class="form-control" placeholder="search..." />
        </form>
        <h6 class="font-weight-bold-2 text-success">click on image to download</h6>
    </div>
    <div class="books-dis">
        @foreach (var b in Model._books)
        {
            <a href="@b.BookDownloadUrl">
                <img src="@b.BookUrlImage" class="d-block mx-auto" alt="@b.BookUrlImage" />
            </a>
        }
    </div>
    <div class="mt-2 ml-3" paging-info="@Model._pagingInfoModel"></div>
</div>